@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-cream text-charcoal font-body;
  }

  ::selection {
    @apply bg-charcoal/10 text-charcoal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
